.primary{
    height: 100vh;
    background-color: rgb(36, 164, 184);
}
.nav{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navLeft{
    height: 90%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navRight{
    height: 90%;
    width: 60%;
}
.navLeft span{
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}
.navRight span{
    margin-left: 6%;
    color: white;
}
.navRight button{
    height: 50%;
    width: 17%;
    background-color: orangered;
    border: none;
    border-radius: 3px;
    color: white;
    margin-top: 2%;
    margin-left: 6%;
}
.navRight i{
    margin-left: 2%;
    color: white;
}
.container{
    height: 89%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#containerLeft{
    height: 80%;
    display: flex;
    flex-direction: column;
    width: 36%;
    margin-left: 2%;
    align-items: flex-start;
    justify-content: center;
}
#containerRight{
    height: 90%;
    width: 50%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#containerLast{
    height: 90%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
#containerLast i{
    font-size: 25px;
    color: white;
}
#span1{
    font-size: 3.2rem;
    color: white;
    font-weight: 600;
}
.div1{
    height: 10%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1%;
}
.div1 div{
    background-color: white;
    height: 80%;
    width: 45%;
    display: flex;
}
.div1 span{
    margin-left: 3%;
    margin-top: 1%;
}
.div2{
    height: 10%;
    width: 70%;
    background-color: white;
    display: flex;
    margin: 1%;
}
.div2 span{
    margin-left: 3%;
    margin-top: 1%;
}
.div3{
    height: 20%;
    width: 70%;
    background-color: white;
    display: flex;
    margin: 1%;
}
.div3 span{
    margin-left: 3%;
    margin-top: 1%;
}
#startBtn{
    height: 8%;
    width: 30%;
    background-color: orangered;
    font-size: 1.2rem;
    border: none;
    color: white;
    margin-left: -40%;
    margin-top: 2%;
}