

.primary{
    height: 100vh;
    background-color: aliceblue;
    border: 5px solid rgb(36, 164, 184);
}
.nav{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navLeft{
    height: 90%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navRight{
    height: 90%;
    width: 60%;
}
.navLeft span{
   
    color: black;
}
.navRight span{
    margin-left: 6%;
    color: rgb(36, 164, 184);
}
.navRight button{
    height: 50%;
    width: 17%;
    background-color: rgb(36, 164, 184);
    border: none;
    border-radius: 20px;
    color: white;
    margin-top: 2%;
    margin-left: 12%;
}
.container{
    height: 89%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#containerLeft{
    height: 80%;
    display: flex;
    flex-direction: column;
    width: 38%;
    justify-content: center;
    align-items: center;
}
#containerRight{
    height: 80%;
    width: 60%;
}
#span1{
    font-size: 3.2rem;
    color: rgb(36, 164, 184);
    font-weight: 600;
}
#span2{
    font-size: 3.2rem;
    font-weight: 300;
}
#btn{
    height: 9%;
    width: 25%;
    background-color: rgb(36, 164, 184);
    border: none;
    border-radius: 20px;
    color: white;
}








