body{
  background: black;
  color: white;
}
.customHook_Items{
  width: 90%;
  gap: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 5%;
}
.customHook_Item{
  height: 150px;
  width: 90%;
  border:1px solid grey;
  border-radius: 10px;
}