body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#Component1{
  height: 50px;
  background-color: rgb(36, 117, 240);
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-weight: 500;
}
#Component1 img{
  height: 100%;
  width: 10%;
}
#searchbarInput{
  height: 50%;
  width: 25%;
  background-color: white;
  margin: 0.8%;
}
#cartDiv{
  height: 50%;
  margin: 00.8%;
}
#Component2{
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 600;
}
.innerDiv{
  height: 80%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
}
.innerDiv img{
  height: 70%;
  width: 90%;
}
.innerDiv select{
  border: none;
  width: 60%;
  height: 30%;
  background-color: white;
  text-align: center;
  font-weight: 600;
}
.innerDiv label{
  width: 90%;
  height: 30%;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 2%;
}
.slider{
  overflow: hidden;
  height: 400px;
}
.slider div{
  float: left;
  width: 20%;
}
.slider img{
  width: 100%;
  float: left;
}
.btn{
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 30%;
  margin-top: 0.8%;
}
.btn button{
  width: 3%;
  border: none;
  background-color: white;
  border-radius: 2px 2px 2px 2px;
}
.btn i{
  font-size: 40px;
}
.slider{
  position: relative;
  width: 500%;
  margin: 0px;
  left: 0;
  animation: 20s slideImage infinite;
}
@keyframes slideImage{
  0%{
    left: 0%;
  }
  10%{
    left: 0%;
  }
  12%{
    left: -100%;
  }
  22%{
    left: -100%;
  }
  24%{
    left: -200%;
  }
  34%{
    left: -200%;
  }
  36%{
    left: -300%;
  }
  46%{
    left: -300%;
  }
  48%{
    left: -400%;
  }
  58%{
    left: -400%;
  }
  60%{
    left: -300%;
  }
  70%{
    left: -300%;
  }
  72%{
    left: -200%;
  }
  82%{
    left: -200%;
  }
  84%{
    left: -100%;
  }
  94%{
    left: -100%;
  }
  96%{
    left: 0%;
  }

}